#* GENERAL SETTINGS
# Server port
PORT=":8000"
# path from main to the directory containing public files
PUBLIC_DIR="./public"
# path where the contents will be served
# in testing it would be: localhost:8000/data
BASE_URL_PATH="/data"
# When this is false, you'll need to use exact file paths. 
# If it's 'true', it's possible to browse the public directory
# when 'false', you need to specify the full file path.
ALLOW_BROWSING=false

#* RateLimiter options
# Life-time of a single window, in seconds. type=int
WINDOW=60
# Max requests in a single Window. type=int
REQUEST_LIMIT=5

# Used for logging
LIMITER_NAME='60s'
# 
PERMABAN_THRESHOLD=8
# Ban isn't permanent, set the time in minutes
# 1440 minutes = 24h
PERMABAN_TIME=1

#* DB CONFIG
# can be "redis" or "badger" for now. Badger is default and on disk
DB_TYPE=badger

#* Only Applicable if you're using badger as a DB
# Directory for storing data. Self-cleaning upon key expiry 
DB_LOCATION=badger

#* Only applicable if you're using Redis as a DB
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=""

#* Whether EnableTrustedProxyCheck
TRUSTED_PROXY=false
